@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin button-after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  z-index: -1;
  transition: all 0.3s linear;
}

// prettier-ignore
@mixin respond($breakpoint){
  @if $breakpoint == phone {
    @media screen and (max-width:37.5em) {@content;} 
  }
  @if $breakpoint == tab-port {
    @media screen and (max-width:56.25em) {@content;}
  }
  @if $breakpoint == tab-land {
    @media screen and (max-width:75em) {@content;}
  }
  @if $breakpoint == big-desktop {
    @media screen and (min-width:112.5em) {@content;}
  } 
}
