.navigation {
  &__checkbox {
    z-index: 15;
    display: none;
  }

  &__btn:hover &__line--1 {
    transform: translateY(-0.1rem);
  }

  &__btn:hover &__line--3 {
    transform: translateY(0.1rem);
  }

  &__checkbox:checked + &__btn &__line--2 {
    opacity: 0;
  }

  &__checkbox:checked + &__btn &__line--1 {
    transform: rotate(135deg);
    top: 3.5rem;
  }

  &__checkbox:checked + &__btn &__line--3 {
    transform: rotate(-135deg);
    top: 3.5rem;
  }

  &__line {
    width: 3rem;
    height: 0.2rem;
    background: $color-grey-dark-3;
    position: absolute;
    left: 2rem;

    transition: all 0.2s;

    &--1 {
      top: 2.7rem;
    }

    &--2 {
      top: 3.5rem;
    }

    &--3 {
      top: 4.3rem;
    }
  }

  &__btn {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    background: $color-white;
    box-shadow: $box-shadow-dark;
    display: inline-block;
    z-index: 10;
    cursor: pointer;

    @include respond(tab-port) {
      top: 3rem;
      right: 3rem;
    }
  }

  &__bg {
    height: 6rem;
    width: 6rem;
    background: radial-gradient($color-primary-light, $color-primary-dark);
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    transform: scale(0);
    z-index: 4;
    transition: all 0.8s cubic-bezier(0.83, 0, 0.17, 1);

    @include respond(tab-port) {
      top: 3.5rem;
      right: 3.5rem;
    }

    @media screen and (max-width: 400px) {
      right: 14rem;
    }
  }

  &__nav {
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    li {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      a {
        color: $color-white;
        text-decoration: none;
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 300;
        padding: 1rem;
        display: inline-block;
        transition: all 0.4s;
        position: relative;
        overflow: hidden;

        span {
          margin-right: 1.5rem;
        }

        &::before {
          content: '';
          height: 100%;
          width: 100%;
          background: linear-gradient(
            120deg,
            transparent 50%,
            $color-white 50%
          );
          display: block;
          position: absolute;
          z-index: -1;
          transform: scaleX(0);
          transition: all 0.5s;
          transform-origin: right;
        }

        &:hover {
          color: $color-primary;
          transform: translateX(1rem);
        }

        &:hover::before {
          transform: scaleX(3);
          // transform-origin: right;
        }
      }
    }
  }

  &__checkbox:checked ~ &__bg {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }
}
