.composition {
  position: relative;

  &__photo {
    width: 55%;
    position: absolute;
    height: 20rem;
    object-fit: cover;
    transition: all 0.2s;
    box-shadow: 0 1.5rem 5rem rgba($color-black, 0.4);

    @include respond(tab-port) {
      position: relative;
      float: left;
      width: 33.33%;
    }

    &:hover {
      transform: scale(1.2) translateY(-1rem);
      z-index: 5;
      outline: 1rem solid $color-primary;
      outline-offset: 1.5rem;
      box-shadow: 0 2rem 5rem rgba($color-black, 0.6);
    }

    &--p1 {
      top: -2rem;

      @include respond(tab-port) {
        top: 0;
      }
    }

    &--p2 {
      right: 0;
      top: 5rem;

      @include respond(tab-port) {
        top: 0;
        transform: scale(1.1);
        z-index: 2;
      }
    }

    &--p3 {
      top: 15rem;
      left: 10rem;

      @include respond(tab-port) {
        top: 0;
        left: 0;
      }
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.9);
  }
}
